<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.ticketzone.mapper.AddressMapper">
	<insert id="insertAddress">
		insert into load_address
		values(#{address_code}, #{address_name})
	</insert>
</mapper>