<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.org.ticketzone.mapper.AppMemMapper">
	
	
	<select id="ownerList" resultType="com.org.ticketzone.domain.OwnerVO">
		select * from owner
	</select>
	
	<select id="storeList" resultType="com.org.ticketzone.domain.StoreVO">
		select * from store
	</select>
	
	<!-- 전체 메뉴가져오기 -->
	<select id="menuList" resultType="com.org.ticketzone.domain.StoreMenuVO">
		select * from store_menu
	</select>
	
	
	
	<select id="categorieList" resultType="com.org.ticketzone.domain.CategorieVO">
		<![CDATA[
		select * from categorie where cate_code like 'F' || '%'
		]]>	 
	</select>
	
	<select id="coordinatesList" resultType="com.org.ticketzone.domain.CoordinatesVO">
		select * from coordinates
	</select>
</mapper>