<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.org.ticketzone.mapper.StoreMapper">
<select id="storeList" resultType="com.org.ticketzone.domain.StoreVO">

	select a.license_number, a.store_name, a.store_tel, a.store_time, a.address_name,
	b.img_uuid, b.img_uploadpath, b.img_filename 
	from store a, store_attach b
	where a.license_number = b.license_number
 
</select>

<select id="storeInfo" resultType="com.org.ticketzone.domain.StoreVO">
	select a.license_number, a.store_name, a.store_tel, a.store_time, a.store_intro, a.address_name,
	b.img_uuid, b.img_uploadpath, b.img_filename
	from store a, store_attach b
	where a.license_number = b.license_number
	and a.license_number = substr(#{license},0,10)	
</select>

<insert id="storeRegister">
	<![CDATA[
	insert into store
	values(#{license_number}, #{r_name}, 0, 0, #{cate_code}, #{owner_id}, #{store_name}, #{store_tel}, #{time} || '-' || #{time2}, #{store_intro}, #{address_name})
	]]>	
</insert>

<select id="storeGet" resultType="com.org.ticketzone.domain.StoreVO">
	select a.*, b.img_uuid, b.img_uploadpath, b.img_filename
	from store a, store_attach b 
	where a.owner_id = #{owner_id}
	and a.license_number = b.license_number
</select>

<!-- 매장 수정페이지 -->
<select id="storeUpdate" resultType="com.org.ticketzone.domain.StoreVO">
	select license_number, r_name, max_number, store_status, cate_code, owner_id, store_name, store_tel, substr(store_time,0,5) as time, substr(store_time,7) as time2, store_intro, address_name 
	from store where license_number = #{license_number}
</select>

<!-- 매장 수정처리 -->
<update id="storeUpdCom">
<![CDATA[
	update store
	set store_name = #{store_name},
	cate_code = 'F1',
	r_name = #{r_name},
	store_tel = #{store_tel},
	store_time = #{time} || '-' || #{time2},
	store_intro = #{store_intro},
	address_name = #{address_name}
	where license_number = #{license_number}
]]>	
</update>

	<!-- 게시판 페이징 -->
	<select id="getListWithPaging"
		resultType="com.org.ticketzone.domain.StoreVO">
		<![CDATA[
			select a.license_number, a.store_name, a.address_name, a.store_time, a.store_tel,
			b.img_uuid, b.img_filename, b.img_uploadpath
			from
			(select rownum rn, license_number, store_name, address_name, store_time, store_tel
			from store
			where						
		]]>
		  
		<!-- 	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'A'.toString()">
							address_name like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'B'.toString()">
							address_name like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim> --> 
		<![CDATA[	
			rownum <= #{pageNum} * #{amount}
			) a, store_attach b
			where rn > (#{pageNum} -1) * #{amount}
			and a.license_number = b.license_number
		]]>
	</select>
		<!-- 게시판 페이징 -->
	<select id="getListWithSearchPaging"
		resultType="com.org.ticketzone.domain.StoreVO">
		<![CDATA[
			select a.license_number, a.store_name, a.address_name, a.store_time, a.store_tel,
			b.img_uuid, b.img_filename, b.img_uploadpath
			from
			(select rownum rn, license_number, store_name, address_name, store_time, store_tel
			from store
			where address_name like #{sido} || '%' 
			or address_name like '%' || #{sigoon} || '%'											
			and rownum <= #{pageNum} * #{amount}
			) a, store_attach b
			where rn > (#{pageNum} -1) * #{amount}
			and a.license_number = b.license_number
		]]>
	</select>
	<select id="total" resultType="int">
		select count(*) from store where license_number > 0
	</select>
	
	<select id="searchTotal" resultType="int">
		<![CDATA[
		select count(*) from store 
		where address_name like #{sido} || ' ' || #{sigoon} || '%'
		]]>	
	</select>
	
	<select id="store_menu" resultType="com.org.ticketzone.domain.StoreMenuVO">
		<![CDATA[
		select menu_code, substr(menu_name,0,instr(menu_name,'-')-1) as menu_cate, substr(menu_name,instr(menu_name, '-')+1) as menu_name, menu_price, store_note
		from store_menu
		where menu_code like #{license_number} || '%'
		and substr(menu_name,0,instr(menu_name,'-')-1) = 
		(select substr(menu_name,0,instr(menu_name,'-')-1) as menu_cate 
		from store_menu
		where menu_code like #{license_number} || '%'
		and rownum <= 1)
		]]>
	</select>
	
	<select id="store_cate" resultType="com.org.ticketzone.domain.StoreMenuVO">
		<![CDATA[
		select substr(menu_name,0,instr(menu_name,'-')-1) as menu_cate, max(rowid), 
		to_number(max(substr(menu_code,(instr(menu_code,'M')+1)))) as menu_code
		from store_menu
		where menu_code like #{license_number} || '%'
		group by substr(menu_name,0,instr(menu_name,'-')-1)
		order by menu_code
		]]>
	</select>
	
	<select id="click_cate" resultType="com.org.ticketzone.domain.StoreMenuVO">
		<![CDATA[
			select menu_code, substr(menu_name,0,instr(menu_name,'-')-1) as menu_cate,
			substr(menu_name,instr(menu_name, '-')+1) as menu_name, menu_price, store_note
			from store_menu
			where menu_code like #{license_number} || '%'
			and substr(menu_name,0,instr(menu_name,'-')-1) like #{menu_cate}
		]]>
	</select>
</mapper>