<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.org.ticketzone.mapper.StoreMapper">
<select id="storeList" resultType="com.org.ticketzone.domain.StoreVO">
	select license_number, store_name, store_tel, store_time, address_name
	from store 
</select>

<select id="storeInfo" resultType="com.org.ticketzone.domain.StoreVO">
	select license_number, store_name, store_tel, store_time, store_intro, address_name
	from store
	where license_number = substr(#{license},0,10)	
</select>

<insert id="storeRegister">
	insert into store
	values(#{license_number}, #{r_name}, 0, 0, #{cate_code}, #{owner_id}, #{store_name}, #{store_tel}, #{store_time}, #{store_intro}, #{address_name})
</insert>

<select id="storeGet" resultType="com.org.ticketzone.domain.StoreVO">
	select * from store where owner_id = #{owner_id}
</select>

<!-- 매장 수정페이지 -->
<select id="storeUpdate" resultType="com.org.ticketzone.domain.StoreVO">
	select * from store where license_number = #{license_number}
</select>

<!-- 매장 수정처리 -->
<update id="storeUpdCom">
	update store
	set store_name = #{store_name},
	cate_code = 'F1',
	r_name = #{r_name},
	store_tel = #{store_tel},
	store_time = #{store_time},
	store_intro = #{store_intro},
	address_name = #{address_name}
	where license_number = #{license_number}
	
</update>

	<!-- 게시판 페이징<검색> -->
	<select id="getListWithPaging"
		resultType="com.org.ticketzone.domain.StoreVO">
		<![CDATA[
			select license_number, store_name, address_name, store_time, store_tel
			from
			(select rownum rn, license_number, store_name, address_name, store_time, store_tel
			from store
			where			
		]]>
			<!-- <trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							notice_title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							notice_content like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim> -->
		<![CDATA[	
			rownum <= #{pageNum} * #{amount}
			)
			where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<select id="total" resultType="int">
		select count(*) from store where license_number > 0
	</select>

</mapper>