* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafafa !important; 
}

.chart_form h1 {
	text-align: center;
	margin: 50px auto;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	padding: 13px 0;
	border-top: 1px solid #343a40;
	border-bottom: 1px solid #343a40;
	width: 250px; height: 100%;
}

/* 차트 테이블 */
#chart_table {
	border-collapse: collapse;
	border: 1px solid;
	margin: 0 auto;
}

#chart_table th {
	border: 1px solid;
}

#chart_table td {
	border: 1px solid;
}

/* chart */
#chart_form {
	margin: 100px auto 180px;
	width: 1200px;
	height: 100%;
	/* border: 1px solid black; */
}

/* 차트 부분 */
#chart {
	position:absolute;
	width:800px;
	height: 310px;
	/* border: 1px solid green; */
	background-color: #ffffff; 
}

/* < 이전버튼 다음버튼 > */ 
#prev, #next {
	background: transparent;
	border: none;
	color: #718dff;
}

/* 팀단위 */
#team {
	position:relative;
  	width:300px;
  	left:850px;
  	height:150px;
  	border-left: 3px solid #718dff;
  	background-color: #ffffff; 
}

#chart_form h4 {
	font-size: 20px;
	font-weight: normal;
	
}

/* 대기자 */
#waiting {
	margin-top: 10px;
	position:relative;
	width:300px;
	left:850px;
	height: 150px;
	border-left: 3px solid #718dff;
	background-color: #ffffff; 
}
