* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 상단 메뉴 폼 */
header {
	/* text-align: center; */
	border: 1px solid #000000;
}

#mainLogo {
	height: 50px;
}

/* 메뉴 */
.main-nav {
	float: right;
	list-style: none; /*글목록앞 아이콘 없애기 */
 	margin-top: 10px;
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	/* border: 1px solid cornflowerblue; */
	margin-right: 10px;
}

/* 메뉴 클릭했을 때 */
.main-nav li a:hover {
	cursor: pointer;
	color: cornflowerblue;
	border-bottom: 1px solid cornflowerblue;
}
