* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 상단 메뉴 폼 */
header {
	border-bottom: 1px solid #000000;
	height: 51px;
}
/* 메뉴 */
.main-nav {
	display: inline-block;
	list-style: none; /*글목록앞 아이콘 없애기 */
	line-height: 51px;
	vertical-align: top;
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: black;
	text-decoration: none;
	padding: 0 10px 10px;
}

/* 메뉴 클릭했을 때 */
.main-nav li a:hover {
	cursor: pointer;
	color: cornflowerblue;
	border-bottom: 1px solid cornflowerblue;
}

#mainLogo {
	height: 50px;
}

#mainLogo:hover {
	cursor:pointer;	
}

#log_out {
	height: 30px;
	vertical-align: top;
	margin: 10px;
}
