/* home css */
*{
	margin: 0;
	padding: 0;
}

/* 메인 이미지 */
/* .main_img {
	width: 1900px;
	height: 758px;
}
 */
/* 메인 서비스 */
.main_row {
	margin-top: 70px; 
	margin-bottom: 70px; 
}

.main_service h2{
	text-align: center;
	margin: 50px auto 0;
	padding: 0px 15px;
}

.divider_1 .line {
	width: 160px;
	margin: 0 auto 60px;
	padding: 10px 0px 15px 0px;
	border-bottom: 1px dashed #ccc;
}

.row {
	width: 1200px;
	margin: 0 auto;
}

.col {
	float: left;
	width: 270px;
	margin-left: 15px;
	margin-right: 15px;
}

.row h3 {
	font-weight: 700;
	font-size: 18px;
	margin: 10px 0;
}

.row p {
	font-weight: normal;
	font-size: 14px; 
	color: #7f7f7f;
}

/* 아이콘 */
.info_icon {
	text-align: center;
}

/* 다운로드 */
.download h2{
	text-align: center;
	margin: 50px auto 0;
	padding: 0px 15px;
