/* home css */
*{
	margin: 0;
	padding: 0;
}

/* 메인 이미지 */
/* .main_img {
	width: 1920px;
	height: 680px;
}
 */
/* 메인 서비스 */
.main_row {
	margin-top: 70px; 
	margin-bottom: 70px; 
}

.main_service h2{
	text-align: center;
	margin: 50px auto 0;
	padding: 0px 15px;
}

.divider_1 .line {
	width: 160px;
	margin: 0 auto 60px;
	padding: 10px 0px 15px 0px;
	border-bottom: 1px dashed #ccc;
}

.row {
	width: 1200px;
	margin: 0 auto;
}

.col {
	float: left;
	width: 270px;
	margin-left: 15px;
	margin-right: 15px;
}

.row h3 {
	font-weight: 700;
	font-size: 18px;
	margin: 10px 0;
}

.row p {
	font-weight: normal;
	font-size: 14px; 
	color: #7f7f7f;
}

/* 아이콘 */
.info_icon {
	text-align: center;
}

/* 메인베너 소개 */
.main_info {
	color: #fff;
	position: relative;
	top: 25%;
	left: 15%;
}

.main_info h3 {
	padding-top: 20px;
	color:  #e6e6e6;
}

/* 다운로드 */
.download h2{
	text-align: center;
	margin: 50px auto 0;
	padding: 0px 15px;
}

.main_down {
	position: relative;
	top: 35%;
	left: 15%;
}

.main_down button{
	border: 2px solid #fff;
	border-radius: 50px;
	background-color: transparent;
	color: #fff;
	padding: 10px 20px;
	font-size: 22px;
}

.main_down button:hover {
	cursor: pointer;
}
