* {
    margin : 0;
    padding: 0;
}

.table_wapper {
	margin: 0 auto;
	width: 800px; /*table  width크기랑 똑같이 */
	height: 100%;
}

/* 문의글 작성 */
.table_wapper h1 {
    text-align: center;
}

/* 게시글 작성 테이블 */
.cus_show {
    margin: 10px auto;
    border-collapse: collapse;
    width: 800px;
}

/* 테이블 제목 */
.cus_show th {
    border: 1px solid #dddddd;
    background-color: #000000;
    color: #ffffff;
    /* padding: 15px 10px; */
    font-size: 16px;
}

/* 테이블 내용 */
.cus_show td {
    border: 1px solid #dddddd;
}

/* 확인,취소 버튼 */
.write_btn {
	text-align: right;
}

.write_btn button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    outline: none;
    font: 20px;
}

.write_btn button:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

/* 글 쓰기 (textarea) */
#content {
	resize: none;
}
