/* inquiry css */
* {
	margin: 0;
	padding: 0;
}

#suggest_form h2 {
	margin-top: 50px;
}

/* 문의하기 밑에 선 */
.divider_1 .line {
	width: 160px;
	margin: 0 auto 60px; 
	padding: 10px 0px 15px 0px;
	border-bottom: 1px dashed #ccc;
}

/* #suggest_type2 {
	text-align: center;
} */

/* 전체 div */
#suggest_form {
	text-align: center;
}

#inquiry_table {
	display: inline-block;
}

/* 표(테이블) */
#suggest {
	table-layout: fixed;
	width : 1200px;
	border-collapse: collapse;
	text-align: center;
	font-size: 16px;
	margin: 20px auto;
}

/* 표의 제목 */
#suggest th {
	color: #888888;
	/* background-color: #000000; */
	border-bottom: 2px solid #343a40;
	padding: 5px 5px 10px;
	font-size: 18px;
	font-weight: normal;
}

#suggest td {
	color: #000000;
	white-space: nowrap;
	border-bottom: 1px solid #e6e6e6;
	padding: 15px 10px;
}

/* 게시글 제목 클릭했을 때 */
#suggest tr:hover td {
	cursor: pointer;
	background-color: #EBEBEB;
}

/* 글쓰기 버튼 정렬*/
#writebutton {
	float: right;
}

/* 글쓰기 버튼 */
#btnwrite {
	padding: 5px 15px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    color: #000000;
    outline: none;
    font: 20px;
}

/* 글쓰기 버튼 클릭했을 때 */
#btnwrite:hover {
	cursor: pointer;
}

/* select선택 창 */
#searchForm select {
	vertical-align: middle;
	height: 32px;
}

/* 검색 창 */
#inquiry_table input[type="text"] {
	vertical-align: middle;
	height: 32px;
}

/* 검색 버튼 */
.btn-default {
	vertical-align: middle;
	padding: 3px 10px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    color: #000000;
    outline: none;
    font: 20px;
}

/* 검색 버튼 클릭했을 때 */
/* .btn-default:hover {
	cursor: pointer;
	background-color: cornflowerblue;
} */



/* pagination 정렬 */
.pull-right {
	margin: 50px 0px 30px;
	text-align: center;
}
/* pagination */
.pagination a {
	padding: 8px 16px;
	text-decoration: none;
	color: black;
}

.pagination li {
	position: relative;
	display: inline-block;
}
/* 선택되지 않았을 때 */
.pagination a:active {
	border-bottom: 1px solid #000000;
	color: #000000;
	font-weight: bold;
}

.pagination a:hover {
	background-color: #ddd;
}