* {
	padding: 0;
	margin: 0;
}

/* #store_form {
	width: 1200px;
	margin: 0 auto;
	border: 1px solid #777;
} */

/* 일별통계 */
#today_stats {
	float: right;
}

#today_stats a {
	padding: 5px 15px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 16px;
}

#today_stats a:hover {
	text-decoration: none;
}

/* 표 (테이블)*/
#customAdmin {
	table-layout: fixed;
	width : 1200px;
	border-collapse: collapse;
	text-align: center;
	font-size: 16px;
	margin: 20px auto;
}

.custom_form {
	background-color: #fff;
	width: 1200px;
	height: 100%;
	margin: 80px auto;
}

.custom_form h2 {
	text-align: center;
	margin: 50px 0 40px;
	clear: both;
}

/* 밑에 선 */
.divider_1 .line {
	width: 160px;
	margin: 0 auto 60px; 
	padding: 10px 0px 15px 0px;
	border-bottom: 1px dashed #ccc;
}

#storelist{
	float: left;
	width: 200px;
	height: 32px;
	font-size: 14px;
}


/* 표 제목 */
#customAdmin th {
	color: #888888;
	/* background-color: #000000; */
	border-bottom: 2px solid #343a40;
	padding: 5px 5px 10px;
	font-size: 18px;
	font-weight: normal;
}

#customAdmin td {
    color: #000000;
	white-space: nowrap;
	border-bottom: 1px solid #e6e6e6;
	padding: 15px 10px;
}

#today {
	position: relative;
	top: 110px;
}

#waiting {
	position: relative;
	top: 180px;
	margin-bottom: 200px; 
}
/* 게시글 제목 클릭했을 때 */
/* #customAdmin tr:hover td{
	cursor: pointer;
} */