* {
    margin: 0;
    padding: 0;
}

.find_form h2 {
	margin-top: 50px;
	text-align: center;
}

/* 관리자 비밀번호 찾기 밑에 선 */
.divider_1 .line {
	width: 160px;
	margin: 0 auto 60px; 
	padding: 10px 0px 15px 0px;
	border-bottom: 1px dashed #ccc;
}

#divider_sh .line {
	margin: 30px auto 20px;
	width: 1200px;
	border: 1px solid #343a40;
}