* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
h2 {
	text-align: center;
}

.login_box h4 {
	padding: 40px 0 20px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}

/* 관리자 로그인 밑에 선 */
.divider_1 .line {
	width: 160px;
	margin: 0 auto 60px; 
	padding: 10px 0px 15px 0px;
	border-bottom: 1px dashed #ccc;
}

#divider_sh .line {
	margin: 30px auto 20px;
	width: 1200px;
	border: 1px solid #343a40;
}


/* 로그인 폼 */
.login_form {
    /* padding: 70px; */
    height: 100%;
    margin: 50px auto;
}

.login_box {
	width: 1200px;
	margin: 35px auto;
}

.login_box p {
	text-align: center;
}

/* 관리자 등록 */
.cont_join {
	width: 600px;
	height: 279px;
	/* padding: 50px 0 0 150px; */
	float: left;
	border-right: 1px solid #ccc; 
}

.cont_join span {
	display: block;
	color: #888888;
	font-size: 16px;
} 

/* 관리자 로그인 */
.cont_login {
	/* padding:50px 0 0 150px; */
	width: 600px;
	float: left;
}

.cont_login ul {
	list-style: none;
	text-align: center;
}

/* 로그인 버튼, 관리자 등록 버튼 */
.login_btn {
	width: 300px;
	height: 40px;
	background-color: #343a40;
	border: none;
	color: #fff;
	margin: 0 auto; 
}

.row {
	margin: 0 auto;
}

.cont_login input[type="text"], input[type="password"] {
	border: 1px solid #e6e6e6;
	position: relative;
	margin: 7px 0 0;
	width: 300px;
	height: 40px;
}

/* 로그인 버튼 클릭했을 때 */
.login_btn:hover {
    cursor: pointer;
}

/* 아이디찾기, 비밀번호 찾기 */
section a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #ccc;
    margin-left: 10px;
}

/* 아이디찾기, 비밀번호 찾기 클릭했을 때 */
section a:hover {
    cursor: pointer;
    color: #000000;
    font-weight: bold;
}
