* {
    margin: 0;
    padding: 0;
}

section {
    margin-top: 10px;
    border: 1px solid #000000;
    padding: 5px 20px;
    font-size: 15px;
}

section input[type="text"], input[type="email"] {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    font-size: 16px;
    width: 70%;
}


h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    border-bottom: 2px solid #000000;
}

.find_form {
    padding: 70px;
    width: 320px;
    height: 100%;
    margin: auto;
    position: relative;
    border: 1px solid #000000;
}

#findfail{
	color: red;
}

.ok_btn {
    /* display: inline-block; */
    padding: 5px;
    border: none;
    outline: none;
    background: #000000;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

.ok_btn:hover {
    cursor: pointer;
    background-color: cornflowerblue;
    color: #ffffff;
    
}