* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

section {
    margin-top: 10px;

    padding: 5px 20px;
    font-size: 15px;
}

/* 로그인 폼 */
.login_form {
    padding: 70px;
    width: 320px;
    height: 480px;
    margin: auto;
    position: relative;
    border: 1px solid #000000;
}

/* 관리자 로그인 제목 */
h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

section input{
    width: 100%;
    margin-bottom: 20px;

}

/* 로그인 작성창 */
section input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    height: 40px;
    font-size: 16px;

}

/* 로그인 버튼 */
.login_btn{
    margin-bottom: 10px;
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    background: #000000;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

/* 로그인 버튼 클릭했을 때 */
.login_btn:hover {
    cursor: pointer;
    background-color: cornflowerblue; 
}

/* 아이디찾기, 비밀번호 찾기 */
section a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    margin-left: 10px;
}

/* 아이디찾기, 비밀번호 찾기 클릭했을 때 */
section a:hover {
    cursor: pointer;
    color: #000000;
    font-weight: bold;
}
