* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.join_form h2 {
	margin-top: 50px;
	text-align: center;
}

/* 관리자 등록 밑에 선 */
.divider_1 .line {
	width: 160px;
	margin: 0 auto 60px; 
	padding: 10px 0px 15px 0px;
	border-bottom: 1px dashed #ccc;
}

#divider_sh .line {
	margin: 30px auto 20px;
	width: 1200px;
	border: 1px solid #343a40;
}

.join_form {
	width: 1200px;
	margin: 0 auto;
}

/* 회원가입 작성창 */

/* 테이블 */
.join_tab {
	margin: 0 auto;
}

.join_tab td {
	width: 150px;
	color: #000000;
	vertical-align: middle;
	border-bottom: 1px solid #e6e6e6;
}

.join_form input[type="text"],[type="password"],[type="tel"],[type="email"] {
	position: relative;
	margin: 7px 0 0;
	width: 500px;
	height: 40px;
	border: none;
	outline: none;
}


/* 회원가입 버튼 */
.btn_box {
	/* width: 166px;
	margin: 20px auto; */
	margin-top: 20px;
	text-align: center;
}

.join_btn {
	border: none;
	width: 80px;
	height: 36px;
	text-align: center;
}

/* 등록 버튼 */
.join_ok {
	color: #fff;
	background-color: #343a40;
}

/* 취소 버튼 */
.join_no {
	color: #000;
	border: 1px solid #BDBDBD;
	background-color: #FFFFFF;
}

/* 회원가입 버튼 눌렀을 때 */
.join_btn:hover{
    cursor: pointer;
}
