#StoreBox div{
	position: relative;
	display: inline-block;
	width: 300px;
	height: 550px;
	margin: 0 auto;
	margin-top: 1%;
	margin-left: 1%;
}

#StoreBox2{
	position: relative;
	display: inline-block;
	width: 300px;
	height: 550px;
	margin: 0 auto;
	border: 1px solid;
	text-align: center;
}

.store_register{
	width: 80px;
	height: 50px;
	margin-top: 70%;
}

.license_number {
	width: 300px;
	height: 500px;
	border: 0px;
}

.s_img {
	width: 100%;
	height: 100%;
}