* {
    margin : 0;
    padding: 0;
}

.table_wapper h1 {
    text-align: center;
}

/* 게시글 작성 테이블 */
.mngr_show {
    margin: 10px auto;
    border-collapse: collapse;
    width: 50%;
}

/* 테이블 제목 */
.mngr_show th {
    border: 1px solid #dddddd;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 10px;
    font-size: 16px;
}

/* 테이블 내용 */
.mngr_show td {
    border: 1px solid #dddddd;
}

/* 등록 버튼 */

#regi {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    outline: none;
    font: 20px;
}

#regi:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

#regi_button{
	text-align: center;
}

/* 주소 검색 버튼 */

#address_search {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    outline: none;
    font: 20px;
}

#address_search:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

