* {
	margin: 0;
	padding: 0;
}

.table_wapper {
	margin: 0 auto;
	width: 1200px; /*table  width크기랑 똑같이 */
	height: 100%;
}

.table_wapper h1 {
    text-align: center;
	margin: 50px auto;
	font-size: 14px;
	font-weight: normal;
    text-align: center;
    padding: 13px 0;
    border-top: 1px solid #343a40;
    border-bottom: 1px solid #343a40;
    width: 250px; height: 100%;
}

/* 게시글 작성 테이블 */
.notice_show {
    margin: 10px auto;
    border-collapse: collapse;
    width: 1200px;
}

/* 테이블 제목 */
.notice_show th {
	width: 150px;
	text-align: center;
	font-weight: normal;
    border-bottom: 1px solid #e6e6e6;
    color: #888888;
    padding: 15px 10px;
    font-size: 16px;
}

/* label 태그에 margin 없애기 */
.notice_show label {
	margin: 0px;
}

/* 테이블 내용 */
.notice_show td {
    border-bottom: 1px solid #e6e6e6;
}

/* 게시글 제목 */
.notice_show #notice_title {
	width: 1000px;
}

/* 글 쓰기 (textarea) */
#notice_content {
	vertical-align: middle;
	margin: 10px 0;
	width: 1000px;
	height: 200px;
	resize: none;
}

/* 확인,취소 버튼 */
.write_btn {
	text-align: right;
}

.write_btn [type="submit"], [type="button"] {
    padding: 5px 15px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    color: #000000;
    outline: none;
    font: 20px;
}

/* 문의글 수정하기 : 첨부파일 삭제 버튼 */
#deleteFile {
	margin-left: 150px;
	padding: 2px 3px;
    border: none;
    background-color: #FFFFFF;
    color: #343a40;
    outline: none;
    font: 14px;
}
