* {
    padding: 0;
    margin: 0;
}

#main {
	height: 100%;
}

#main h2 {
	text-align: center;
	margin-top: 50px;
}

/* 문의하기 밑에 선 */
.divider_1 .line {
	width: 160px;
	margin: 0 auto 60px; 
	padding: 10px 0px 15px 0px;
	border-bottom: 1px dashed #ccc;
}

/* 매장 검색 */
#search_box {
	display: flex;
	justify-content: center;
	align-items: center;  
}

/* 매장검색 select */
#search_box select {
	vertical-align: middle;
	height: 32px;
	font-size: 14px;
}

/* 시/도 select 크기 */
#sido_code {
	margin: 0px 2px;
	width: 150px;
}

/* 시/군 select 크기 */
#sigoon_code {
	margin: 0px 2px;
	width: 150px;
}

/* 검색 버튼 */
#test {
	margin: 0px 2px;
	vertical-align: middle;
	padding: 3px 10px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    color: #000000;
    outline: none;
    font: 20px;
}

/* 매장검색 bottom 선 */
#divider_sh .line {
	margin: 30px auto 20px;
	width: 1200px;
	border: 1px solid #343a40;
}

/* 제휴매장 폼 */
#store_form {
	margin: 0 auto;
	height: 748px;
	width: 1120px;
	/* border: 1px solid #000000; */
	box-sizing: border-box;
}

/* 매장사진 */
#store_row {
	margin: 30px 10px;
    /* border: 1px solid #000000; */
    position: relative;
    display: inline-block;
    flex-direction: column;
    flex-wrap: nowrap;
    
    width: 255px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;   

}

#button_img {
	border: none;
	outline: none;
	transform:scale(1);
	overflow:hidden;
	transition: all 0.3s;
}

#button_img img:hover {
	cursor: pointer;
	/* 마우스 오버 시 그림 확대 */
	transform:scale(1.05);
	transition: all 0.3s;
}

#store_row p {
	margin: 0px 0px 0px 10px;
}

/* 매장설명 */
#store_info h4{
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	margin: 5px 0; 
}

#store_info p {
	color: #888888;
	font-size: 14px;
}

/* Pagination */
.pagination {
	list-style: none;
	text-align: center;
	margin: 50px 0px 30px;
}

.pagination a {
	padding: 8px 16px;
	text-decoration: none;
	color: black;
}

.pagination li {
	position: relative;
	/* display: inline-block; */
	display: inline;
}

.pagination_active {
	background-color: #ddd;	
}

/* 선택되지 않았을 때 */
.pagination a:active {
	border-bottom: 1px solid #000000;
	color: #000000;
	font-weight: bold;
}

.pagination a:hover {
	background-color: #ddd;
}


