* {
	margin: 0;
	padding: 0;
}

#area_form {
	height: 100%;
	margin: 0 auto;
}

section {
	margin-top: 10px;
	padding: 5px 20px;
	font-size: 15px;
}

li {
	list-style: none;
}

#search_box {
	padding: 10px;
	text-align: center;
	border-bottom : 2px solid #000000;
}

#store_form {
	width: 897px;
	margin: 0 auto;
}

매장사

.store_img {
	width: 210px;
}

.store_img li {
	width: 220px;
    position: relative;
    display: inline-block;
    margin: 20 10px 30px;
}
.store_img li h3 {
	text-align: center;
}

.store_img .s_img {
	width : 100%;
	height : 100%;
}

.pull-right{
	text-align: center;
}
/* pagination */
.pagination a{
	padding: 8px 16px;
    text-decoration: none;
    color: black;
    
}

.pagination li {
	position: relative;
	display: inline-block;
	
}
/* 선택되지 않았을 때 */
.pagination a:active{
    border-bottom: 1px solid #000000;
    color: #000000;
    font-weight: bold;
}

.pagination a:hover{
    background-color: #ddd;
}