#store_info {
	margin-top: 1%;
	width: 40%;
	margin-left: 10%;
	margin-right: 0px;
	float: left;
}

#store_info img {
	width: 70%;
	height: 60%;
}

#map {
	width: 40%;
	height: 400px;
	float: left;
	margin-top: 1%;
	margin-right: 10%;
}

#cont {
	width: 150px;
	text-align: center;
	padding: 6px 0;
}