* {
    padding: 0;
    margin: 0;
}

#main {
	height: 100%;
}

/* 매장 검색 */
#search_box {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;  
}

#search_box 


/* 매장검색 select */
#search_box select {
	padding-right: 5px;
	margin: 2px;
}

/* 매장검색 bottom 선 */
#divider_sh .line {
	margin: 30px auto 50px;
	width: 1200px;
	border: 1px solid #BDBDBD;
}

/* 제휴매장 폼 */
#store_form {
	margin: 0 auto;
	width: 1120px;
	/* border: 1px solid #000000; */
	box-sizing: border-box;
}

/* 매장사진 */
#store_row {
	margin: 30px 10px;
    /* border: 1px solid #000000; */
    position: relative;
    display: inline-block;
    flex-direction: column;
    flex-wrap: nowrap;
    
    width: 255px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}

#store_row p {
	margin: 0px 0px 0px 10px;
}

/* 매장설명 */
#store_info h3{
	vertical-align: middle;
	text-align: center;
}

/* Pagination */
#pagination {
	list-style: none;
	text-align: center;
	margin: 80px 0px 95px;
}

#pagination a {
	padding: 8px 16px;
	text-decoration: none;
	color: black;
}

#pagination li {
	position: relative;
	/* display: inline-block; */
	display: inline;
}

.pagination_active {
	background-color: #ddd;	
}

/* 선택되지 않았을 때 */
#pagination a:active {
	border-bottom: 1px solid #000000;
	color: #000000;
	font-weight: bold;
}

#pagination a:hover {
	background-color: #ddd;
}


