.divider_sh .line {
	margin: 30px auto 20px;
	width: 1200px;
	border: 1px solid #343a40;
	clear: both;
}

/* 매장탭 */
#store_name {
	float: left;
}

.menu {
	float: right;
	list-style: none;
}

.menu li {
	float: left;
}

.menu button {
	background-color: transparent;
	border: none;
}

.menu button:hover{
	background-color: transparent;
	border: none;
	color: #718dff;
	cursor: pointer;
}

.store_row {
	width: 1200px;
	height: 100%;
	margin: 50px auto;
	/* border: 1px solid #dddddd; */
}

.left .right {
	width: 600px;
    height: 300PX;
    vertical-align: top;
   /*  margin-bottom: 10px; */
}

/* 매장사진 */
.left {
	/* float: left; */
	display:inline-block; 
}

/* 매장사진 크기 */
.left img {
	width: 500px;
	height: 300px;
}

/* 매장설명 */
.right {
	/* float: right; */
	width: 600px;
	vertical-align: middle;
	display:inline-block;
	margin: 0 30px;
}

/* .right p {
	font-size: 18px;
	color: #888888;
}

.right p > font {
	font-weight: bold;
	color: #000000;
}
 */
.right dt {
	float: left;
	margin-right: 15px;
}

/* 매장 지도 */
#map {
	width: 1200px;
	height: 400px;
	margin-top: 1%;
	margin-right: 10%;
}
