* {
	margin : 0;
	padding : 0;
}

/* 매장 수정*/
.table_wapper h1 {
	margin: 10px 0;
    text-align: center;
}

/* 매장 작성 테이블 */
.mngr_show {
	margin: 10px auto;
    border-collapse: collapse;
    width: 800px;
}

/* 표 제목 */
.mngr_show th {
	color: #ffffff;
	background-color: #000000;
	border-bottom: 1px solid #000000;
	padding: 5px;
	font-size: 18px;
}

/* 테이블 내용 */
.mngr_show td {
    border: 1px solid #dddddd;
}

/* 수정,취소버튼 */
.write_btn {
    float: right;
    width: 680px;
    table-layout:fixed;
}

.write_btn input {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    outline: none;
    font: 20px;
}

.write_btn input:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}