* {
	margin : 0;
	padding : 0;
}

.table_wapper {
	margin: auto;
	width: 50%; /*table  width크기랑 똑같이 */
	height: 100%;
}

/* 매장 수정 */
.table_wapper h1 {
    text-align: center;
	margin: 50px auto;
	font-size: 14px;
	font-weight: normal;
    text-align: center;
    padding: 13px 0;
    border-top: 1px solid #343a40;
    border-bottom: 1px solid #343a40;
    width: 250px; height: 100%;
}

.mngr_show {
    margin: 20px auto;
    border-collapse: collapse;
    width: 1200px;
}

/* 테이블 제목 */
.mngr_show th {
	width: 150px;
	text-align: center;
	font-weight: normal;
    border-bottom: 1px solid #e6e6e6;
    color: #888888;
    padding: 15px 10px;
    font-size: 16px;
}

/* label 태그에 margin 없애기 */
.mngr_show label {
	margin: 0px;
}

/* 테이블 내용 */
.mngr_show td {
    border-bottom: 1px solid #e6e6e6;
}

/* 테이블 select */
.mngr_show select {
	width: 200px;
	font-size: 14px;
}

/* text type */
.mngr_show [type="text"] {
	width: 600px;
}

.mngr_show [type="time"] {
	width: 120px;
	height: 30px;
	border: 1px solid #888888;
}

#store_intro {
	width: 600px;
	resize: none;
	margin: 10px 0;
	vertical-align: middle;
}

/* 등록 버튼 */
.write_btn {
	text-align: right;
}

.write_btn [type="submit"], [type="button"] {
    padding: 5px 15px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    color: #000000;
    outline: none;
    font: 20px;
}

/* 주소검색버튼 */
#address_search {
	padding: 3px 5px;
	border: none;
	background-color: #343a40;
	color: #ffffff;
	font-size: 14px;
}

